@model MainApp.Models.UserModels
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>Register</h2>
        </div>
        <form asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ps-3 pe-3">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group ps-3 pe-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group ps-3 pe-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group ps-3 pe-3">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group ps-3 pe-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group ps-3 pe-3">
                <label asp-for="AboutMe" class="control-label"></label>
                <input asp-for="AboutMe" class="form-control"/>
                <span asp-validation-for="AboutMe" class="text-danger"></span>
            </div>
            <div class="form-group ps-3 pe-3">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" class="form-control" id="customFile" type="file">
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(ViewData["ResponseStatus"]?.ToString()))
            {
                var className = (string) ViewData["ResponseStatus"] == "Success" ? "alert-success" : "alert-danger";
                <div class="alert @className m-3" role="alert">
                    @ViewData["ResponseMessage"]
                </div>
            }
            <div class="form-group">
                <div class="col-md-offset-1 col-md-12 p-2">
                    <button type="submit" value="Login" class="btn btn-primary sign-up">Register</button>
                    <p class="pt-2">
                        <a asp-area="" asp-action="Login" asp-controller="Auth">Login In</a>
                    </p>
                </div>
            </div>
        </form>
        <br/>
    </div>
</div>
</body>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    $(document).ready(function () {
        $('#logo').addClass('animated fadeInDown');
        $("input:text:visible:first").focus();
    });
    $('#username').focus(function () {
        $('label[for="username"]').addClass('selected');
    });
    $('#username').blur(function () {
        $('label[for="username"]').removeClass('selected');
    });
    $('#password').focus(function () {
        $('label[for="password"]').addClass('selected');
    });
    $('#password').blur(function () {
        $('label[for="password"]').removeClass('selected');
    });
    
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>