@model MainApp.Models.NewsModel
@{
    ViewData["Title"] = "Create";
}

<section class="contact-section active">
    <h1 class="project-heading">News</h1>
    <div class="row" style="width:80%">
        <div class="col-md-4">
            <form class="contact-form" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Source" class="control-label"></label>
                    <input rows="3" asp-for="Source" class="form-control"/>
                    <span asp-validation-for="Source" class="text-danger"></span>
                </div>
                @if (!string.IsNullOrEmpty(Model?.Content))
                {
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control"/>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <label asp-for="Images" class="control-label"></label>
                            <input asp-for="Images" class="custom-file-input" id="customFile" type="file" multiple>
                            <span asp-validation-for="Images" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea rows="3" asp-for="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                }

                <div class="form-group">
                    @if (string.IsNullOrEmpty(Model?.Content))
                    {
                        <input type="submit" value="Crawl" name="Crawl" class="btn btn-primary"/>
                    }
                    else
                    {
                        <input type="submit" value="Create" name="Create" class="btn btn-primary"/>
                    }
                </div>
            </form>
        </div>
    </div>

</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<style>
    form label{
        color: white;
    }
</style>