@model MainApp.Models.NewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact-section active">
    <h1 class="project-heading">News</h1>
    <div class="row" style="width:80%">
        <div class="col-md-4">
            <form class="contact-form" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Source" class="control-label"></label>
                    <input rows="3" asp-for="Source" class="form-control"/>
                    <span asp-validation-for="Source" class="text-danger"></span>
                </div>
                @* @if (!string.IsNullOrEmpty(Model?.Content)) *@
                @* { *@
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Images" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="Images" class="custom-file-input" id="customFile" type="file" multiple>
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea rows="3" asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                @* } *@

                <div class="form-group">
                    @* @if (string.IsNullOrEmpty(Model?.Content)) *@
                    @* { *@
                    @*     <a type="submit" href="/News/Crawl?source=" class="btn btn-primary">Crawl</a> *@
                    @* } *@
                    @* else *@
                    @* { *@
                    @* <a type="submit" asp-controller="News" asp-action="Push" class="btn btn-primary">Create</a> *@
                    @* } *@
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>

                </div>
            </form>
        </div>
    </div>

</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<style>
    form label{
        color: white;
    }
</style>