<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(ViewData["Title"] ?? "Portfolio")</title>
    <link rel="stylesheet" href="~/style.css">
</head>
@if (TempData["AlertMessage"] != null)
{
    <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
        @TempData["AlertMessage"]
    </div>
}
<body>
<nav class="navbar">
    <ul class="link-group">
        <li class="link">
            <a asp-action="Index" asp-controller="Home">Home</a>
        </li>
        <li class="link">
            <a asp-action="Details" asp-controller="UserSkills">Project</a>
        </li>
        <li class="link">
            <a asp-action="Index" asp-controller="UserSkills">About</a>
        </li>
        <li class="link">
            <a asp-action="Index" asp-controller="Posts">Forum</a>
        </li>
        <li class="link">
            <a asp-action="Index" asp-controller="News">News</a>
        </li>
        <li class="link">
            <a asp-action="Index" asp-controller="ChatBox">Chat box</a>
        </li>
        <li class="link">
            <a asp-action="Edit" asp-controller="Users">My Profiles</a>
        </li>
        <li class="link">
            <a asp-action="LogOut" asp-controller="Auth" asp-area="">Logout</a>
        </li>

    </ul>
    <form asp-controller="UserSkills" asp-action="IndexSearch" method="post" class="contact-form">
        <div class="input-group">
            <input style="margin: 0" name="username" type="text" class="form-control search-input" placeholder="Search for CV..." aria-label="Search" aria-describedby="search-addon">
        </div>
    </form>
</nav>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<div></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

@section Scripts {
    <script>
            $(function () {
                $('#AlertBox').removeClass('hide');
                $('#AlertBox').delay(2000).slideUp(500);
            });

        </script>
}

</body>
</html>